{{outlet}}
<b> Projects </b><br/>
<table> 
	<tr>
		<td> Title </td>
		<td> BA </td>
		<td> Status  </td>
		<td colspan="2"></td> 
	</tr>
	{{#each model as |project|}}
	<tr>
		{{projects/show-project project=project}}
	</tr>
	{{/each}}
</table>
{{projects/new-project newProject=newProject}}