<b> Teachers </b>
<table>
	<tr> 
		<td> ID </td>
		<td> Name </td>
		<td> Age </td>
	</tr>
	{{#each model as |teacher|}}
	<tr>
		<td> {{teacher.id}} </td>
		<td> {{teacher.name}} </td>
		<td> {{teacher.age}} </td>
	</tr>
	{{/each}}
</table>
{{outlet}}