{{outlet}}
{{input type="text" value=newTeacher.name placeholder="Name of the teacher"}}
{{input type="text" value=newTeacher.age placeholder="Age of the teacher"}}
<button {{action "saveTeacher"}}> Save </button>